.intro {
  color: blue;
  font-weight: bold;
  text-align: center;
  display: block;
  margin: auto;
  width: 40%;
}

.highlight-text {
  background-color: yellow;
  margin: 12px;
  border: 2px solid green;
  padding: 4px;
}
